<!DOCTYPE html>
<html>
    <head>
        <title>سهراب</title>
    </head>
    <body>
        <header>
                <h1><a href="/">وبلاگ سهراب</a></h1>
            </header>
            {% for post in posts %}
            <article>
        
            <time>
                {{posts.published_date}}
            </time><br>
            <time>
                {{posts.created_date}}
            </time>
            <h2><a href="">{{posts.title}}</a></h2>
            <p>{{post.text}}</p>
    
        <hr>
    </article>
    {% endfor %}

            

    </body>
</html>